
body {
    background-color: white;
    margin: 0px;
    padding: 0px;
}



h1 {
    color: black;
    font: bold;
    font-family: fantasy;
    font-size: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    color: black;
    font-weight: bold;
    font-family: poppins;
    text-decoration: none;

}

li:hover {
    border-bottom: 1px solid #FFFF;
}

li {
    margin-left: 25px;
    font-size: 30px;
    font: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

article {
    color: black;
    margin-left: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}



.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}


.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}
